<div>

    <div ng-controller="HomeCtrl" ng-init="init()">

        <message-grapher class="message-summary smoothie-grapher" activity="true" ></message-grapher>

        <div ng-show="subdevices">
            <p class="content-padded">Devices</p>

            <div class="card">
                <ul class="table-view">
                    <li class="table-view-cell" ng-repeat="device in subdevices track by $index" ng-show="device.name.length" ng-click="goToDevice(device)">
                        <span>
                            {{ device.name }}
                        </span>
                    </li>
                </ul>
            </div>

        </div>

        <p ng-hide="subdevices" class="content-padded"><strong>No devices found.</strong> Search for <a href="index.html#!/plugins/search" title="Sweet">devices</a></p>

        <div ng-include src="'/public/views/system/activity.html'"></div>

    </div>

</div>
