<div>

    <div ng-controller="ErrorCtrl" ng-init="init()" class="text-center">

        <h3 class="content-padded">
            <i class="fa fa-3x fa-times-circle-o"></i><br>
            <span class="text-red">Uh Oh! An Error Occurred</span>
        </h3>
        <div class="content-padded" ng-show="errorMsg">{{ errorMsg }}
            <br>
            <br></div>

        <a href="index.html" target="_self" class="btn btn-positive btn-block btn-outlined">Try Again <i class="fa fa-refresh"></i></a>

        <div class="content-padded">
            <p>Check your internet connection.</p>
            <p>If you are seeing repeated issues. Try logging out and back in.</p>
            <a href="index.html#!/login" class="btn btn-negative btn-block btn-outlined">Logout</a>
        </div>
    </div>

</div>
