html, body {
    height: 100%;
}

.page-title {
    background-color: white;
    padding: 10px;
    margin: 0;
}

.no-sub-header {
    margin-top: -20px;
}

input {
    background-color: white;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-left {
    text-align: left;
}

.green {
    color: green;
}

.subtile {
    font-size: 11px;
    color: gray;
}

#loading-screen {
    background-color: rgba(255,255,255, 0.9);
    display: block;
    width: 100%;
    height: 100%;
    top: 0; left: 0; bottom: 0; right: 0;
    z-index: 9;
    position: fixed;
}

#loading {
    padding-top: 50%;
    text-align: center;
    vertical-align: middle;
}

#loading .fa-spin {
    margin: auto;
    vertical-align: middle;
}

.content {
    padding-bottom: 50px;
}

.error-block {
    color: red !important;
}

#sensor-activity {
    font-size: 14px;
}

.smoothie-canvas {
    width: 100%;
    height: 100%;
}

.smoothie-grapher {
    display: block;
    width: 100%;
    height: 120px;
}

.compass {
    font-size: 10em;
}

.compass-text {
    font-size: 5em;
    margin: 0 auto;
    margin-top: 50px;
    clear: both;
    text-align: center;
}

.compass-wrap {
    width: 100%;
    height: 100%;
    top: 0; left: 0; bottom: 0; right: 0;
    z-index: 9;
}

.compass-box {
    text-align: center;
    vertical-align: middle;
}

.mostly-table-cell {
    width: 90%;
    word-wrap: break-word;
}

.pulse-off {
    -webkit-transition:  -webkit-transform .2s ease-out;
    -moz-transition: -moz-transform .2s ease-out;
    -o-transition: -o-transform .2s ease-out;
    -ms-transition: -ms-transform .2s ease-out;
    transition: transform .2s ease-out;
}
.pulse-on {
   -webkit-transform:scale(1.1);
   -moz-transform:scale(1.1);
   -o-transform:scale(1.1);
   transform:scale(1.1);
}

.flow-buttons {
	margin-top: -3px;
	padding-right: 5px;
}

.modal-fix {
    padding-top: 0;
}

.modal-fix-content {
    padding-top: 22px;
}
.view-fix {
	position: fixed;
}
.modal {
    position: fixed;
    top: 0;
    z-index: 11;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    background-color: #fff;
    opacity: 0;
    -webkit-transition: -webkit-transform .25s, opacity 1ms .25s;
    -moz-transition: -moz-transform .25s, opacity 1ms .25s;
    transition: transform .25s, opacity 1ms .25s;
    -webkit-transform: translate3d(0, 100%, 1px);
    -ms-transform: translate3d(0, 100%, 1px);
    transform: translate3d(0, 100%, 1px);
}
.modal.active {
    height: 100%;
    opacity: 1;
    -webkit-transition: -webkit-transform .25s;
    -moz-transition: -moz-transform .25s;
    transition: transform .25s;
    -webkit-transform: translate3d(0, 0, 1px);
    -ms-transform: translate3d(0, 0, 1px);
    transform: translate3d(0, 0, 1px);
}