<?xml version='1.0' encoding='utf-8'?>
<widget id="com.octoblu.mobiblu" version="3.1.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Mobiblu</name>
    <description>
        Use Mobiblu for communicating with Meshblu and Octoblu
    </description>
    <author email="info@octoblu.com" href="http://octoblu.com/">
        Octoblu, Inc
    </author>
    <access origin="*" />
    <plugin name="Device" value="org.apache.cordova.Device"/>

    <plugin name="InAppBrowser" value="CDVInAppBrowser" />

    <feature name="http://appgyver.com/steroids/addons/urbanairship">
        <param name="enabled" value="true" />
    </feature>

</widget>
