<html>

<head>
    <meta charset="utf-8">
    <title>Octoblu Mobile</title>

    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- cordova.js is served from localhost to ensure the correct version -->
    <script id="ag-cordova-loader"></script>

    <script src="/components/steroids-js/steroids.js"></script>
    <script src="/components/steroids-addons/index.js"></script>

    <!-- Include the compiled Ratchet CSS -->
    <link href="/stylesheets/ratchet.css" rel="stylesheet">

    <link id="ratchet-theme" rel="stylesheet">

    <script src="/javascripts/loader.js"></script>

    <!-- Include the compiled Ratchet JS -->
    <script src="/javascripts/ratchet.js"></script>

    <link rel="stylesheet" href="/stylesheets/application.css" />
    <link rel="stylesheet" href="/stylesheets/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/stylesheets/custom.css" />

    <script src="/javascripts/jquery.min.js" type="text/javascript"></script>

    <!-- Skynet.js -->
    <!--<script src="https://skynet.im/js/skynet.js"></script>-->
    <script src="http://skynet.im/socket.io/socket.io.js"></script>
    <script src="/javascripts/skynet.js"></script>

    <script src="/components/angular/angular.min.js"></script>
    <script src="/components/angular-route/angular-route.js"></script>
    <script src="/components/angular-sanitize/angular-sanitize.js"></script>
    <script src="/components/angular-ui-utils/ui-utils.min.js"></script>

    <script src="/components/underscore/underscore-min.js"></script>
    <script src="/components/restangular/dist/restangular.min.js"></script>
    <!--
    <script src="/vendor/persistencejs/persistence.js"></script>
    <script src="/vendor/persistencejs/persistence.store.sql.js"></script>
    <script src="/vendor/persistencejs/persistence.store.websql.js"></script>
    -->

    <script src="/vendor/hammerjs/hammer.min.js"></script>
    <script src="/vendor/angular-hammer/angular-hammer.js"></script>

    <script src="/javascripts/jsoneditor/jsoneditor.js" type="text/javascript"></script>

    <script src="/javascripts/underscore-min.js" type="text/javascript"></script>

    <script src="/javascripts/octoblu.js"></script>

<!-- <script src="/javascripts/application.js"></script> -->

    <script src="/models/models.js"></script>

<!-- <script src="/controllers/<%= yield.controller %>.js"></script> -->

    <script src="/public/app/app.js"></script>
    <script src="/public/app/config.js"></script>

    <script src="/controllers/home.js"></script>
    <script src="/controllers/messages.js"></script>
    <script src="/controllers/setting.js"></script>
    <script src="/controllers/system.js"></script>
    <script src="/controllers/sensors.js"></script>
    <script src="/controllers/plugins.js"></script>

    <script src="/public/app/init.js"></script>
</head>

<body>
    <header ng-controller="HeaderCtrl" ng-init="init()" class="bar bar-nav">
        <button ng-show="backbtn" ng-click="goBack()" class="btn btn-link btn-nav pull-left">
            <span class="icon icon-left-nav"></span>
            Back
        </button>
        <h1 class="title">Mobile Hub</h1>
        <button ng-show="loggedin" ng-click="logout()" class="btn btn-link btn-nav pull-right">
            Logout
        </button>
    </header>
    <div ng-controller="SubHeaderCtrl" class="bar bar-standard bar-header-secondary">
        <a href="#!/sensors/activity" id="sensor-activity" class="btn pull-right">
            Skynet Activity <span class="badge badge-negative" id="sensor-activity-badge">0</span>
        </a>
    </div>
    <!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
    <div class="content" data-ng-view>
    </div>

    <nav ng-controller="FooterCtrl" ng-init="init()" class="bar bar-tab" ng-hide="disabled">
        <a class="tab-item" href="#!/" ng-class="{active: isActive('/')}" data-ignore="push">
            <span class="icon icon-home"></span>
            <span class="tab-label">Home</span>
        </a>
        <a class="tab-item" href="#!/plugins" ng-class="{active: isActive('/plugins')}" data-transition="fade">
            <span class="icon fa fa-puzzle-piece"></span>
            <span class="tab-label">Plugins</span>
        </a>
        <a class="tab-item" href="#!/sensors" ng-class="{active: isActive('/sensors')}" data-transition="fade">
            <span class="icon fa fa-crosshairs"></span>
            <span class="tab-label">Sensors</span>
        </a>
        <a class="tab-item" href="#!/messages" ng-class="{active: isActive('/messages')}" data-transition="fade">
            <span class="icon fa fa-comments"></span>
            <span class="tab-label">Messages</span>
        </a>
        <a class="tab-item" href="#!/setting" ng-class="{active: isActive('/setting')}" data-ignore="push">
            <span class="icon icon-gear"></span>
            <span class="tab-label">Settings</span>
        </a>
    </nav>
</body>

</html>
