<div ng-controller="FlowCtrl" ng-init="init()">

    <p class="content-padded">Trigger flows with a click of a button.</p>

    <ul class="table-view">
        <li ng-repeat="flow in combinedFlows track by $index"
            ng-class="{ 'table-view-cell': flow.type === 'trigger', 'table-view-divider': flow.type === 'flow', 'pulse-on' : flow.sending, 'pulse-off' : !flow.sending }">
            <span ng-if="flow.type === 'flow'">{{ flow.object.name }}</span>
            <span ng-if="flow.type === 'trigger'" ng-click="triggerButton(flow.object)">{{ flow.object.name }}</span>
            <div ng-if="flow.type === 'flow' && !flow.loadingStatus"  class="pull-right flow-buttons">
	            <span ng-click="controlFlow('stop', flow)" class="badge" ng-class="{'badge-negative' : !flow.online}">
	            	<i class="fa fa-stop" ng-class="{'pulse-on' : flow.stoping, 'pulse-off' : !flow.stoping}"></i>
	            </span>
	            <span ng-click="controlFlow('start', flow)" class="badge" ng-class="{'badge-positive' : flow.online}">
	            	<i class="fa fa-play" ng-class="{'pulse-on' : flow.starting, 'pulse-off' : !flow.starting}"></i>
	            </span>
	          </div>
	          <div class="pull-right flow-buttons" ng-if="flow.loadingStatus"><i class="fa fa-circle-o-notch fa-spin"></i></div>
        </li>
    </ul>

    <div class="content-padded" ng-if="!flows || flows.length === 0">There are no available flows</div>

</div>

