<div ng-app="settingApp">

    <div ng-controller="IndexCtrl">
        <div class="spinner" ng-show="loading"></div>

        <div class="card">
            <ul class="table-view">
                <li class="table-view-cell">
                    <strong>Device Name:</strong>
                    <br>
                    <span>{{ devicename }}</span>
                </li>
                <li class="table-view-cell">
                    <strong>UUID:</strong>
                    <br>
                    <span>{{ mobileuuid }}</span>
                </li>
                <li class="table-view-cell" hm-tap="revealMobileToken()">
                    <strong>Token:</strong>
                    <br>
                    <span>{{ mobiletoken_dummy }}</span>
                </li>
            </ul>
        </div>

    </div>

</div>
