<div>

    <div ng-controller="FlowCtrl" ng-init="init()">

        <p class="content-padded">Trigger flows with a click of a button.</p>

        <div class="card">
            <ul class="table-view">
                <li class="table-view-cell">
                    <a href="index.html#!/flows">
                        Dummy Flow A
                    </a>
                </li>
                <li class="table-view-cell">
                    <a href="index.html#!/flows">
                        Dummy Flow B
                    </a>
                </li>
            </ul>
        </div>


    </div>

</div>
