<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Octoblu Mobile Hub</title>

    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- cordova.js is served from localhost to ensure the correct version -->
    <script src="http://localhost/cordova.js"></script>
    <script src="/components/steroids-js/steroids.js"></script>

    <!-- Include the compiled Ratchet CSS -->
    <link href="/stylesheets/ratchet.css" rel="stylesheet">

    <!-- Include the compiled Ratchet JS -->
    <script src="/javascripts/ratchet.js"></script>

    <link rel="stylesheet" href="/stylesheets/application.css" />

    <!-- Skynet.js -->
    <script src="http://skynet.im/js/skynet.js"></script>

    <script src="/components/angular/angular.min.js"></script>

    <script src="/components/underscore/underscore-min.js"></script>
    <script src="/components/restangular/dist/restangular.min.js"></script>
    <!--
    <script src="/vendor/persistencejs/persistence.js"></script>
    <script src="/vendor/persistencejs/persistence.store.sql.js"></script>
    <script src="/vendor/persistencejs/persistence.store.websql.js"></script>
    -->

    <script src="/vendor/hammerjs/hammer.min.js"></script>
    <script src="/vendor/angular-hammer/angular-hammer.js"></script>

    <script src="/javascripts/octoblu.js"></script>

    <script src="/javascripts/skynet.js"></script>

    <script src="/javascripts/application.js"></script>

    <script src="/javascripts/sensors.js"></script>

    <script src="/models/models.js"></script>

    <script src="/controllers/<%= yield.controller %>.js"></script>

</head>

<body>
    <header class="bar bar-nav">
        <button id="sensor-activity" class="btn pull-right">
            Skynet Activity <span class="badge badge-negative">0</span>
        </button>
    </header>
    <!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
    <div class="content">
        <%=y ield.view %>
    </div>
</body>

</html>
